[component="sidebar"] {
  min-width: 250px;
  transition: all 0.3s;
  min-height: 100vh !important;
  height: 100vh;
  /* float: left; */
  /* position: fixed; */
  display: table-cell;
  width: 15%;
  vertical-align: top;
}

[component="sidebar"] .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

[component="sidebar"] .hl-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* Style for treeview in the sidebar */

li.list-group-item.node-sidebar {
  border-top: 1px solid #5d6cae;
  border-bottom: 0px;
}


/* Other side of sidebar */
.sidebar-rightContainer {
  margin-left: 250px;
  width: calc(100% - 250px);
}


@media (max-width: 768px) {
  [component="sidebar"] {
    display: none;
  }

  .sidebar-rightContainer {
    width: 100%;
    margin-left: 0;
  }
}