<template data-sly-template.variant="${ @ model }">
    <div 
      component="${model.componentName}"
      id="${model.id}"
      class="${model.componentClassNames}" 
      data-model="${model.jsonString}"
      data-sly-element="${model.decorationTagName}"
      >
    </div>
    <sly data-sly-call="${containerListTemplate @ model=model}"></sly>
</template>
<template data-sly-template.containerListTemplate="${ @ model }">
  <script id="${model.id}-template" type="text/x-handlebars-template">
    <div id="containerItems" class="containerItems {{alignment}}">
      <ul>
      {{#each items.listOfContainer}}
        <li>
            <a class="link" href="#{{id}}">
              {{title}}
          </a>       
        </li>
      {{/each}}
    </ul>
  </div>
</script>
</template>
