<link  href="/apps/typerefinery/components/widgets/chart/styles/style.css" rel="stylesheet" type="text/css" />
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/linechart/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/piechart/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/barchart/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/behaviour.js"></script>
