<script src="/apps/typerefinery/static/vendor/chartjs/chart.js"></script>
<script src="/apps/typerefinery/static/vendor/chartjs/chartjs-plugin-datalabels.min.js"></script>

<link  href="/apps/typerefinery/components/widgets/chart/styles/style.css" rel="stylesheet" type="text/css" />
<!-- linechart -->
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/linechart/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/linechart/behaviour.js"></script>

<!-- barchart -->
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/barchart/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/barchart/behaviour.js"></script>

<!-- piechart -->
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/piechart/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/chart/clientlibs/variants/piechart/behaviour.js"></script>