<script>
  window.typerefinery = {};
  window.Vue = Vue;
  const { createApp, ref } = Vue;

  const vueApp = Vue.createApp({
    data(){return{
      data: [
          {
            brand: "Volkswagen",
            year: 2012,
            color: "Orange",
            vin: "dsad231ff",
          },
          { brand: "Audi", year: 2011, color: "Black", vin: "gwregre345" },
          { brand: "Renault", year: 2005, color: "Gray", vin: "h354htr" },
          { brand: "BMW", year: 2003, color: "Blue", vin: "j6w54qgh" },
          { brand: "Mercedes", year: 1995, color: "Orange", vin: "hrtwy34" },
          { brand: "Volvo", year: 2005, color: "Black", vin: "jejtyj" },
          { brand: "Honda", year: 2012, color: "Yellow", vin: "g43gr" },
          { brand: "Jaguar", year: 2013, color: "Orange", vin: "greg34" },
          { brand: "Ford", year: 2000, color: "Black", vin: "h54hw5" },
        ],
    }}
  });
  vueApp.config.compilerOptions.comments = true


  // component namespace
  window.typerefinery.button = {};
  (function (vueApp, button) {
    console.log("____namespace____");

    button.vueButtonIsClicked = () => {
      console.log(this);
      console.log("INSIDE METHOD")
    }
    vueApp.component("p-button", primevue.button)
  })(vueApp, window.typerefinery.button);


  window.typerefinery.inputText = {};
  (function (vueApp, utils) {
    utils.vueInputOnChange = (e) => {
      console.log("On change.", e)
    }
    vueApp.component("p-inputtext", primevue.inputtext)

  })(vueApp, window.typerefinery.inputText);

  //Accordion page namespace
  //  window.typerefinery.inputText = {};
  (function (vueApp) {
    vueApp.component("p-accordion", primevue.accordion)
    vueApp.component("p-accordiontab", primevue.accordiontab)
  })(vueApp);
// namespace for checkbox
  (function (vueApp) {
    vueApp.component("p-checkbox", primevue.checkbox)  
  })(vueApp);
  // namespace for Radiobutton
  (function (vueApp) {
    vueApp.component("p-radiobutton", primevue.radiobutton)
    
  })(vueApp);
  // namespace for cards.
  (function () {
    vueApp.component("p-card", primevue.card);
  })();

  // text area
  (function () {
    vueApp.component("p-textarea", primevue.textarea);
  })();

  // password
  (function () {
    vueApp.component("p-password", primevue.password);
    vueApp.component("p-divider", primevue.divider);
  })();

  // dropdown
  (function () {
    vueApp.component("p-dropdown", primevue.dropdown);
  })();

  (function () {
    vueApp.component("p-datatable", primevue.datatable);
    vueApp.component("p-column", primevue.column);

  })();
  
            

  // button
  // (function () {
  //   vueApp.component("p-button", primevue.button);
  // })();


  vueApp.mount('#app');

</script>