<!-- Vue instance -->
<script src="/apps/typerefinery/components/structure/page/script.js"></script>

<!-- Chart -->
<sly data-sly-include="/apps/typerefinery/components/widgets/chart/head-libs.html"></sly>

<!-- LeafletMap -->
<sly data-sly-include="/apps/typerefinery/components/widgets/leafletmap/head-libs.html"></sly>

<!-- Map -->
<sly data-sly-include="/apps/typerefinery/components/widgets/map/head-libs.html"></sly>

<sly data-sly-include="/apps/typerefinery/components/widgets/tickervariant/head-libs.html"></sly>