<!-- include all vendor javascript clientlibs that meant to be at the header of the page  -->
<sly data-sly-use.clientlibs="${'io.typerefinery.websight.clientlibs.ClientLibsModel' @
    categories='io.typerefinery.websight.components-vendor',
    debug=true,
    crossorigin='anonymous'}">
${clientlibs.jsIncludes  @ context="unsafe"}
</sly>


<!-- include all javascript clientlibs that meant to be at the header of the page  -->
<sly data-sly-use.clientlibs="${'io.typerefinery.websight.clientlibs.ClientLibsModel' @
    categories='io.typerefinery.websight.components-header',
    debug=true,
    crossorigin='anonymous'}">
${clientlibs.jsIncludes  @ context="unsafe"}
</sly>

<!-- include all javascript clientlibs that meant to be at the end of the page  -->
<sly data-sly-use.clientlibs="${'io.typerefinery.websight.clientlibs.ClientLibsModel' @
    categories='io.typerefinery.websight.components-footer',
    debug=true,
    crossorigin='anonymous'}">
${clientlibs.jsIncludes  @ context="unsafe"}
</sly>

<!-- include all components javascript -->
<sly data-sly-use.clientlibs="${'io.typerefinery.websight.clientlibs.ClientLibsModel' @
    categories='io.typerefinery.websight.components',
    debug=true,
    crossorigin='anonymous'}">
${clientlibs.jsIncludes  @ context="unsafe"}
</sly>


<!-- TODO: NEED TO MOVE THIS TO LOCAL VENDORS -->

<script type="text/javascript" src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script>
