
<!-- Vue Components -->
<link href="https://unpkg.com/primevue/resources/themes/lara-light-indigo/theme.css" rel="stylesheet">
<link href="https://unpkg.com/primevue/resources/primevue.min.css" rel="stylesheet">
<link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">
<link href="https://unpkg.com/primeflex@^3/primeflex.min.css" rel="stylesheet" />
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>
<script src="https://unpkg.com/primevue/core/core.min.js"></script>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>

<!-- Initial Script and helper -->
<script src="/apps/typerefinery/components/structure/page/clientLibs/initialScript.js"></script>
<script src="/apps/typerefinery/components/structure/page/clientLibs/helper.js"></script>

<!-- TMS Socket Connection -->
<script type="text/javascript" src="/apps/typerefinery/components/structure/page/tms/client.js" defer></script>
<script type="text/javascript" src="/apps/typerefinery/components/structure/page/tms/jsonschema.js" defer></script>


<!-- Roboto Slab Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">