<!-- TODO: Make this common for all the components -->
<!-- TMS Connection -->
<script type="text/javascript" src="/apps/typerefinery/components/widgets/ticker/tms/client.js" defer></script>
<script type="text/javascript" src="/apps/typerefinery/components/widgets/ticker/tms/jsonschema.js" defer></script>

<!-- Primevue StyleSheet And Its Components CDNs -->
   
<link href="https://unpkg.com/primevue/resources/themes/lara-light-indigo/theme.css" rel="stylesheet">
<link href="https://unpkg.com/primevue/resources/primevue.min.css" rel="stylesheet">
<link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">
<link href="https://unpkg.com/primeflex@^3/primeflex.min.css" rel="stylesheet" />
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>
<script src="https://unpkg.com/primevue/core/core.min.js"></script>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.2.min.js"
    integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous">
</script>

<!-- Roboto Slab Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

<script src="/apps/typerefinery/components/structure/page/initialScript.js"></script>
<script src="/apps/typerefinery/components/structure/page/helper.js"></script>

<!-- Css Integration For All Components and Pages-->
<link rel="stylesheet" href="/apps/typerefinery/web_root/main.css" type="text/css">

<!-- Accordion Component -->
<sly data-sly-include="/apps/typerefinery/components/layout/accordion/head-libs.html"></sly>

<!-- Card Component -->
<sly data-sly-include="/apps/typerefinery/components/content/card/head-libs.html"></sly>

<!-- Table Component -->
<sly data-sly-include="/apps/typerefinery/components/widgets/table/head-libs.html"></sly>

<!-- Form Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/form/head-libs.html"></sly>

<!-- Button Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/button/head-libs.html"></sly>

<!-- Checkbox Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/checkbox/head-libs.html"></sly>

<!-- InputText Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/input/head-libs.html"></sly>

<!-- Password Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/password/head-libs.html"></sly>

<!-- RadioButton Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/radio/head-libs.html"></sly>

<!-- Textarea Component -->
<sly data-sly-include="/apps/typerefinery/components/forms/textarea/head-libs.html"></sly>

<!-- Column Ticker -->
<sly data-sly-include="/apps/typerefinery/components/widgets/columnticker/head-libs.html"></sly>

<!-- LeafletMap -->
<sly data-sly-include="/apps/typerefinery/components/widgets/leafletmap/head-libs.html"></sly>

<!-- Map Component -->
<sly data-sly-include="/apps/typerefinery/components/widgets/map/head-libs.html"></sly>

<!-- Ticker component-->
<sly data-sly-include="/apps/typerefinery/components/widgets/ticker/head-libs.html"></sly>

<!-- Chart JS CDN -->
<sly data-sly-include="/apps/typerefinery/components/graphs/head-libs.html"></sly>

<!-- Bar Chart Component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/barchart/head-libs.html"></sly>

<!-- D3Graph component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/d3graph/head-libs.html"></sly>

<!-- Line Chart Component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/linechart/head-libs.html"></sly>

<!-- Line chart with label compoenent -->
<sly data-sly-include="/apps/typerefinery/components/graphs/linechartwithlabel/head-libs.html"></sly>

<!-- Pie Chart Polar Component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/piechart/head-libs.html"></sly>

<!-- Pie Chart Non Polar Component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/piechartnonpolar/head-libs.html"></sly>

<!-- Radar Chart Component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/radarchart/head-libs.html"></sly>

<!-- X Axis Bar Chart Component -->
<sly data-sly-include="/apps/typerefinery/components/graphs/xaxisbarchart/head-libs.html"></sly>

<!-- Navbar Component -->
<sly data-sly-include="/apps/typerefinery/components/layout/navbar/head-libs.html"></sly>

<!-- SideBar Component-->
<sly data-sly-include="/apps/typerefinery/components/layout/sidebar/head-libs.html"></sly>

<!-- Breadcrumb Component-->
<sly data-sly-include="/apps/typerefinery/components/layout/breadcrumbs/head-libs.html"></sly>
