
<!-- vue and prime vue. -->
<link href="/apps/typerefinery/clientlibs/vendor/primevue/styles/lara-light-indigo-theme.css" rel="stylesheet">
<link href="/apps/typerefinery/clientlibs/vendor/primevue/styles/style.min.css" rel="stylesheet" />
<link href="/apps/typerefinery/clientlibs/vendor/primevue/styles/icons.css" rel="stylesheet" />
<link href="/apps/typerefinery/clientlibs/vendor/primevue/styles/primeflex.min.css" rel="stylesheet" />
<script src="/apps/typerefinery/clientlibs/vendor/vue/vue.global.js"></script>
<script src="/apps/typerefinery/clientlibs/vendor/primevue/core/core.js"></script>
<script src="/apps/typerefinery/clientlibs/vendor/vue/vue-route.global.js"></script>

<!-- jquery -->
<script src="/apps/typerefinery/clientlibs/vendor/jquery/jquery-3.6.2.min.js"></script>

<!-- TMS Socket Connection -->
<script src="/apps/typerefinery/components/structure/page/tms/client.js"></script>
<script src="/apps/typerefinery/components/structure/page/tms/jsonschema.js"></script>

<!-- page/clientlibs -->
<script src="/apps/typerefinery/components/structure/page/clientlibs/functions.js"></script>
<script src="/apps/typerefinery/components/structure/page/clientlibs/behaviour.js"></script>
<script src="/apps/typerefinery/components/clientlibs/components.js"></script>