[component="ticker"] .primary{
    background-color: #442355;
    color:#D82D8B  !important;
}
[component="ticker"] .secondary{
    background-color:#2B2861;
    color: #8B3FB3;
}
[component="ticker"] .indigo{
    background-color:#0B3A2A;
    color: #217106;
}
[component="ticker"] .purple{
    background-color: #32426A;
    color: #9489C5;
}
[component="ticker"] .light-brown{
    background-color: #4B4A32;
    color: #D2991F;
}
[component="ticker"] .light-green{
    background-color: #47624E;
    color: #CDE26E;
}
[component="ticker"] .green{
    background-color:#2B564C;
    color: #8ED571;
}
[component="ticker"] .dark-blue{
    background-color:#22255D;
    color: #6F36A8;
}
[component="ticker"] .brown{
    background-color: #4D3139;
    color: #F95B31;
}