.ticker-secondaryTicker {
    font-family: "Roboto Slab", serif !important;
    display: flex;
    border: 1px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 116px; 
    height: 100%;
    opacity: 0.5;
    border-radius: 0px;
    padding: 23.5px;
  }
  .ticker-secondaryTicker .ticker-value {
    font-size: 26px;
  }
  .ticker-secondaryTicker .ticker-title {
    font-size: 10px;
  }
  .ticker-secondaryTicker .smallticker{
    padding: 1rem;
  }
  .path {
    display: none;
  }
  .refresh-time-ticker {
    display: none;
  }
  .columnTickerWidth {
    width: 100%;
    /* margin-bottom: 1%; */
    margin: 19.4px -1px -9px 2px;
  }