.p-tree {
  background-color: var(--primary-object-background-color);
  height: 125vh;
  border-radius: 0px;
  border-color: var(--primary-object-background-color);
}
.p-treenode-label {
  color: var(--primary-text-color);
}
.sidebar {
  width: 100%;
}
