.p-tree {
  background-color: var(--sidebar-bg-color);
  height: 125vh;
  border-radius: 0px;
  border-color: var(--primary-border-color);
  width: 100%;
}
.p-treenode-label {
  color: var(--primary-text-color);
}
.sidebar {
  width: 100%;
}

nav.p-breadcrumb.p-component{
  border-radius: 0px;
  background: var(--primary-text-color);
  border-color: var(--primary-border-color);
}