@use 'page-details-default' as default;

[component="page-details"].oblique {
  
  @include default.root;

  @media (min-width: 576px) {
    .container {
      width: 100% !important;
    }
  }
  @media (min-width: 768px) {
    .container {
       width: 50% !important;
    }
  }
  .container {
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    overflow: hidden;
  }

  .image {
      height: 100%;
      width: 50%;
      left: 50%;
      position: absolute;
      top: 0;
      z-index: -1;

    .picture-container {
      transform: skewX(-10deg);
      overflow: hidden;
      width: 100%;
      border-bottom-left-radius: 0.75rem;
      height: 100%;
      position: absolute;
      margin-left: 3rem;

      img {
        height: 100%;
        margin-left: -4rem;
        width: 100%;
        transform: skewX(10deg);
      }
    
    }

  }



}
