<script type="text/javascript" src="/apps/typerefinery/webroot/vendor/map/leaflet/leaflet.js"></script>
<link rel="stylesheet" href="/apps/typerefinery/components/widgets/leafletmap/styles/style.css" />
<link rel="stylesheet" type="text/css" href="/apps/typerefinery/webroot/vendor/map/leaflet/leaflet.css" />
<script src="/apps/typerefinery/components/widgets/leafletmap/mock/coordinates.js"></script>
<script src="/apps/typerefinery/components/widgets/leafletmap/clientlibs/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/leafletmap/clientlibs/behaviour.js"></script>

