
<link rel="stylesheet" href="/apps/typerefinery/components/widgets/leafletmap/styles/style.css" />
<link rel="stylesheet" href="/apps/typerefinery/clientlibs/vendor/map/leaflet/leaflet.css" />
<script src="/apps/typerefinery/clientlibs/vendor/map/leaflet/leaflet.js"></script>
<script src="/apps/typerefinery/components/widgets/leafletmap/mock/coordinates.js"></script>
<script src="/apps/typerefinery/components/widgets/leafletmap/clientlibs/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/leafletmap/clientlibs/behaviour.js"></script>
