<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
</script>
<script src="/apps/typerefinery/components/widgets/leafletMap/script.js"></script>
<script src="/apps/typerefinery/components/widgets/leafletMap/defaultLeafletMapCoordinates.js">  
</script>
<link rel="stylesheet" href="/apps/typerefinery/components/widgets/leafletMap/style.css" />