[component="tabcontainer"] {
  height: 100%;
}

[component="tabcontainer"] .tab-content>.active{
  height: 100%;
}

[component="tabcontainer"] .tab-content {
  flex: 1;
}

[component="tabcontainer"] .close-icon {
  font-size: 12px;
  margin-left: 10px;
}