:root {
  --primary-background-color:#0A1929;
  --primary-text-color:#fff;
  --subtitle-color: rgb(188, 188, 188);
  --primary-object-background-color:#001E3C;
  --ticks-color: #5D7183;	 
  --grid-color: #5D7183;	  
  --label-color: #ebedeb;
  --border-color:#ebedeb;
}