:root {
  --primary-bg-color:#003049;
  --primary-text-color:#fff;
  --subtitle-color: rgb(188, 188, 188);
  --card-bg-color:#0d1321;
  --chart-ticks-color: #5D7183;	
  --sidebar-bg-color: #0d1321;
  --chart-grid-color: #fff;	  
  --chart-label-color: #ebedeb;
  --border-color:#ebedeb;
  --primary-border-color:#212529;

}