:root {
    --primary-background-color: #FFFFFF;
    --primary-text-color: #1A2027;
    --primary-object-background-color: rgb(243, 246, 249);
    --ticks-color: #151e26;
    --grid-color: #5D7183;
    --label-color: #072b4a;
    --border-color: #0099DE;
}