:root {
    --primary-panel-color: #FFF;
    --primary-text-color: #1A2027;
    --subtitle-color: #343a40;
    --primary-bg-color: rgb(233 233 233);
    --ticks-color: #151e26;
    --grid-color: #5D7183;
    --label-color: #072b4a;    
    --border-color: #1a6c93;
    --primary-border-color:#0099DE;
}