:root {
    --primary-bg-color: #adb5bd;
    --primary-text-color: #1A2027;
    --subtitle-color: #343a40;
    --card-bg-color: #dee2e6;
    --sidebar-bg-color:#ced4da;
    --chart-grid-color: #5D7183;
    --chart-label-color: #072b4a;    
    --border-color: #343a40;
    --primary-border-color:#6c757d;
}