.button {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.radiobutton {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.radiobutton-width {
  margin-right: 18%;
  padding: 1%;
}
.checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.p-checkbox {
  text-align: center;
  margin: 0;
  width: 2%;
}
.checkbox-width {
  margin-right: 18%;
  padding: 1%;
}

.dropdown {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.dropdown .p-dropdown {
  width: 30%;
}
.dropdown-label {
  display: block;
  margin-right: 23.5%;
}
.inputtext {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputtext-label {
  margin-right: 23.5%;
}
#inputtext-width {
  width: 30%;
}
.components-label {
  display: block;
  margin-right: 24.5%;
}
.password {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.password .p-inputtext {
  width: 100%;
}
.password-width {
  width: 30%;
}
.textarea {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.textarea-width {
  width: 30%;
}
.textarea-label {
  display: block;
  margin-right: 23.5%;
}

.lineChart {
  background: #fff;
  width: 100%;
  border: 1px solid #1d3853;
  margin: 0px 5px;
  min-height: 300px;
  margin-bottom: 1%;
}

.pieChart {
  background: #fff;
  width: 100%;
  border: 1px solid #1d3853;
  margin: 0px 5px;
  min-height: 300px;
  margin-bottom: 1%;
}

.barChart {
  background: #fff;
  width: 100%;
  border: 1px solid #1d3853;
  margin: 0px 5px;
  height: 302px;
  margin-bottom: 1%;
}

.navbar {
  width: 100%;
  background: #343a40;
  color: #fff !important;
  margin-top: 0rem;
}
.dataTable {
  width: 100%;
  margin-top: 1%;
}
.p-datatable .p-datatable-tbody > tr {
  background: #343a40;
  color: white;
  transition: box-shadow 0.2s;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #343a40;
}
.product-badge {
  background: white;
  color: #343a40;
}

/* This is used to hide the datatable header */
th {
  display: none !important;
}
