body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.button {
  text-align: center;
  margin: 5px auto;
  width: 100%;
  margin-bottom: 1%;
}
.radiobutton {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.radiobutton-width {
  margin-right: 18%;
  padding: 1%;
}
.checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.p-checkbox {
  text-align: center;
  margin: 0;
  width: 2%;
}
.checkbox-width {
  margin-right: 18%;
  padding: 1%;
}

.dropdown {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.dropdown .p-dropdown {
  width: 30%;
}
.dropdown-label {
  display: block;
  margin-right: 23.5%;
}
.inputtext {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputtext-label {
  margin-right: 23.5%;
}
#inputtext-width {
  width: 85%;
}
.p-inputtext-m {
  width: 85% !important;
}
.p-inputtext-s {
  width: 40% !important;
}

.components-label {
  display: block;
  margin-right: 24.5%;
}
.password {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.password .p-inputtext {
  width: 100%;
}
.password-width {
  width: 30%;
}
.textarea {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.textarea-width {
  width: 30%;
}
.textarea-label {
  display: block;
  margin-right: 23.5%;
}

.linechart {
  background: #fff;
  width: 100%;
  margin: 0px 5px;
  min-height: 350px;
  margin-bottom: 3rem;
}
.linechartLabel{
  background: #fff;
  width: 100%;

  margin: 0px 5px;
  min-height: 350px;
  margin-bottom: 3rem;

}

.piechart {
  background: #fff;
  margin: 0px 5px;
  min-height: 350px;
  margin: auto;
  margin-top: 2rem;
}

.pieCanvas {
  display: block !important;
  box-sizing: border-box !important;
  height: 530px !important;
  width: 320px !important;
}

.barChart {
  background: #fff;
  width: 100%;
  margin: 0px 5px;
  min-height: 350px;
  margin-bottom: 3rem;
}

.navbar {
  width: 100%;
  background: var(--primary-object-background-color);
  color: var(--primary-text-color) !important;
  margin-top: 0rem;
  border-radius: 0px;
  border-color: var(--primary-object-background-color);
}
.p-menuitem-text{
  color: var(--primary-text-color) !important;
}
.table {
  width: 100%;
  margin-bottom: 1%;
  min-height: 350px;
}
.p-datatable .p-datatable-tbody > tr {
  background: var(--primary-object-background-color);
  color: var(--primary-text-color);
  transition: box-shadow 0.2s;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: var(--primary-object-background-color);
}
.product-badge {
  background: white;
  color: var(--primary-object-background-color);
}

/* .hl-rows-md-1 {
  height: 661px !important;
} */
.d3graph {
  width: 90% !important;
  margin: auto;
  margin-top: 2rem !important;
}

.hl-container.hl-grid.hl-cols-12 {
  align-items: baseline;
  align-content: center;
  width: 100%;
  margin: auto;
}

section.hl-page-section.hl-grid.hl-cols-12 {
  padding-top: 0rem !important;
  width: 100%;
  padding-bottom: 0px;
}

.hl-container.hl-grid.hl-cols-12 {
  align-items: baseline;
  align-content: center;
  width: 100%;
  margin: auto;
}

section.hl-page-section.hl-grid.hl-cols-12 {
  padding-top: 0rem !important;
}

div#table {
  width: 90%;
  margin: auto;
  margin-top: 2rem !important;
}

svg {
  width: 100% !important;
  margin: auto;
}

.hl-container.hl-grid {
  display: flex;
  align-self: flex-start;
}

h2.hl-title__heading.hl-title__heading--size-4 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.navbarLogo {
  margin-left: 20px;
}

.breadcrumb {
  width: 100%; 
  height: 65px;
}
.p-breadcrumb.p-component{
  background: var(--primary-object-background-color) !important;
}

.hl-header__wrapper {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}