.button {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.radiobutton {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.radiobutton-width {
  margin-right: 18%;
  padding: 1%;
}
.checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.p-checkbox {
  text-align: center;
  margin: 0;
  width: 2%;
}
.checkbox-width {
  margin-right: 18%;
  padding: 1%;
}

.dropdown {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.dropdown .p-dropdown {
  width: 30%;
}
.dropdown-label {
  display: block;
  margin-right: 23.5%;
}
.inputtext {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputtext-label {
  margin-right: 23.5%;
}
#inputtext-width {
  width: 30%;
}
.components-label {
  display: block;
  margin-right: 24.5%;
}
.password {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.password .p-inputtext {
  width: 100%;
}
.password-width {
  width: 30%;
}
.textarea {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1%;
}
.textarea-width {
  width: 30%;
}
.textarea-label {
  display: block;
  margin-right: 23.5%;
}

.lineChart {
  background: #FFF;
  width: 100%;
  border: 1px solid #1d3853;
  margin: 0px 5px;
  height: 220px;
}

.pieChart {
  background: #FFF;
  width: 100%;
  border: 1px solid #1d3853;
  margin: 0px 5px;
  height: 420px;
}

.barChart {
  background: #fff;
  width: 100%;
  border: 1px solid #1d3853;
  margin: 0px 5px;
  height: 320px;
}

.navbar {
  width: 100%;
  background: #001E3C; 
  color: #FFF !important; 
  margin-top:0rem
}