
[component=composite][type=list] .contents {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

[component=composite][type=list] .rows {
  display: flex;
  flex-direction: column;
  width: 100%;
}

[component=composite][type=list] .row {
  display: flex;
  flex-direction: row;
}


[component=composite][type=list] .row .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  max-width: unset;
  flex-grow: 1;
  flex-wrap: wrap;
}

[component=composite][type=list] .row .move {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 12%;
  max-width: 4rem;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 1%;
}
[component=composite][type=list] .row .move .drag {
  width: 4rem;
}

[component=composite][type=list] .row .move button {
  width: 2rem;
}

[component=composite][type=list] .row .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6%;
  max-width: 4rem;
  margin-left: auto;
}

[component=composite][type=list] .row:hover {
  background-color: lightgray;
}
[component=composite][type=list] .add {
  margin: 1em;
}

[component=composite][type=list] .delete {
  margin: 1em;
}

[component=composite][type=list] .handle {
  margin-right: 5px;
  width: 1.4em;
  position: relative;
  background-color: #E4E6EB;
  background-image: linear-gradient(45deg, #E4E6EB, #E4E6EB 2px, #fff 2px, #fff 4px, #E4E6EB 4px, #E4E6EB 9px, #fff 9px, #fff 11px, #E4E6EB 11px, #E4E6EB 16px, #fff 16px, #fff 18px, #E4E6EB 18px, #E4E6EB 22px);
  background-size: 10px 20px; 
  cursor: move;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

[component=composite][type=list] .handle:active {
  background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
  background-size: 10px 20px; 
}