[component="ticker"].primaryTicker {
  background: var(--card-bg-color);
  min-width: 185px;
  width: 100%;
  height: 105px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 6px;
  padding: 20px;
  margin: 5px;
  margin-bottom: 1%;
}

[component="ticker"].primaryTicker .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}

[component="ticker"].primaryTicker .body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

[component="ticker"].primaryTicker .content {
  display: flex;
  align-items: center;
}

[component="ticker"].primaryTicker .value {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

[component="ticker"].primaryTicker .icon {
  color: #00b1ff;
}

[component="ticker"].primaryTicker .title {
  font-weight: 400;
  font-size: 15px;
  color: rgb(188, 188, 188);
}

[component="ticker"].primaryTicker .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

[component="ticker"].primaryTicker .indicator {
  margin-left: 10px;
  font-size: 10px;
  color: rgb(226 250 228);
  flex-direction: row;
  align-items: center;
  display: flex;
  border-radius: 4px;
}

[component="ticker"].primaryTicker .indicator_value {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 11px;
}

[component="ticker"].primaryTicker .indicator .icon {
  font-size: 10px;
  color: rgb(226 250 228);
  margin-left: 10px;
}

[component="ticker"].primaryTicker .indicator .down {
  color: #f55a32;
}

[component="ticker"].primaryTicker .indicator .same {
  color: #a696d5;
}

[component="ticker"].primaryTicker .indicator:has(.down) {
  background: #4d3139;
  color: #f55a32 !important;
}

[component="ticker"].primaryTicker .indicator:has(.up) {
  color: rgb(226 250 228) !important;
  background: rgb(6, 42, 61);
}

[component="ticker"].primaryTicker .indicator .pi {
  display: none;
}

[component="ticker"].primaryTicker .indicator:has(.same) {
  background: #33426a;
  color: #a696d5 !important;
}

[component="ticker"].primaryTicker .pi.pi-minus.same {
  display: block;
}

[component="ticker"].primaryTicker .pi.pi-arrow-up.up {
  display: block;
}
[component="ticker"].primaryTicker .pi.pi-arrow-down.down {
  display: block;
}
[component="ticker"].primaryTicker .hours {
  color: var(--primary-text-color);
  font-size: 10px;
  margin-left: 5px;
}

[component="ticker"].primaryTicker .hours {
  color: #fff !important;
}
[component="ticker"].primaryTicker .title {
  color: var(--subtitle-color) !important;
}

[component="ticker"].primaryTicker .dn,
[component="ticker"].primaryTicker .path,
[component="ticker"].primaryTicker .refresh-time {
  display: none;
}
