[component="aside"] {
    min-width: 250px;
    transition: all 0.3s;
    min-height: 100vh !important;
    height: 100vh;
    display: table-cell;
    vertical-align: top;
    width: 15%;
}

[component="aside"] .aside {
    min-width: 250px;
    transition: all 0.3s;
    min-height: 100vh !important;
    height: 100vh;
    display: table-cell;
    vertical-align: top;
    width: 15%;
}

/* for containers in the edit mode. */
[component="aside"] ._aside_container_ {
    min-width: 250px;
    transition: all 0.3s;
    min-height: 100vh !important;
    height: 100vh;
    display: table-cell;
    vertical-align: top;
    width: 15%;
}

