.table-td-class {
    background-color: var(--card-bg-color) !important;
    color: var(--primary-text-color) !important;
}

.custom-table-class {
    background-color: var(--card-bg-color) !important;
    color: var(--primary-text-color) !important;
}
td.gridjs-td {
    border: 1px solid #ffffff !important;
}

.table {
    width: 100%;
    margin-bottom: 1%;
    min-height: 350px;
  }