

<sly data-sly-use.model="ai.typerefinery.websight.models.components.widgets.tabs.Tabs"
    data-sly-set.referenceVariant="${'./variant.{0}.html' @ format=model.variant}"
    data-sly-set.templateDefault="${'./variant.html'}"
    data-sly-set.template="${model.variant == 'reference' ? referenceVariant : templateDefault}">
    <div class="${model.componentClassNames}">
      <sly data-sly-use.template="${template}" data-sly-call="${template.variant @ model=model}">
      </sly>
    </div>
</sly>