

<sly data-sly-use.model="ai.typerefinery.websight.models.components.widgets.tabs.Tabs"
    data-sly-set.template="${'./variant.html'}">

    <sly data-sly-use.lib="/apps/typerefinery/components/structure/templates/component-info.html"
      data-sly-set.componentPlaceholderTitle="${[model.componentTitle] @ join=''}"
      data-sly-call="${lib.placeholder @ title=componentPlaceholderTitle}"></sly>

    <div class="${model.componentClassNames}">
      <div 
        component="${model.componentName}" 
        id="${model.id}" 
        class="${model.variantClassNames}"
        data-model="${model.jsonString}"
      >
        <sly data-sly-use.template="${template}" data-sly-call="${template.variant @ model=model}">
        </sly>
      </div>
    </div>
</sly>