<template data-sly-template.variant="${ @ model }">
    <div 
        component="${model.componentName}" 
        id="${model.id}" 
        class="${model.variantClassNames}"
        data-model="${model.jsonString}"
    >
        <ul class="nav nav-tabs mb-1" role="tablist">
            <sly data-sly-list="${model.listOfTab}">
                <li class="${item.active} nav-item" role="presentation">
                    <button 
                        class="nav-link ${itemList.index == 0 ? 'active' : ''}"
                        id="${itemList.index}-tab" 
                        data-bs-toggle="tab"
                        data-bs-target="#${itemList.index}" 
                        type="button" 
                        role="tab" 
                        aria-controls="${itemList.index}"
                        aria-selected="true"
                    >
                        <sly data-sly-test="${item.icon}">
                            <i class="icon ${item.icon}"></i>
                        </sly>
                        ${item.title}
                    </button>
                </li>
            </sly>
        </ul>
        <div class="tab-content" style="height: 90vh">
            <sly data-sly-list.tab="${model.listOfTab}">
                <div 
                    class="tab-pane fade show ${tabList.index == 0 ? 'active': ''}" 
                    id="${tabList.index}"
                    role="tabpanel" 
                    aria-labelledby="${tabList.index}-tab"
                >
                    <!-- Tab content:Start -->
                    <!-- ${tab} -->
                    <!-- ${tabList.index} -->
                    <!--  ${model.listOfTab[tab]} -->
                    ${tab.html @ context='unsafe'}
                    <!-- Tab content:End -->
                </div>
            </sly>
        </div>
    </div>
</template>