<template data-sly-template.variant="${ @ model }">
  <ul class="nav nav-tabs mb-1" role="tablist">
    <sly data-sly-list="${model.tabsList}">
        <li class="${item.active} nav-item" data-tab-id="${itemList.index}-tab" id="${item.id}">
            <button 
                class="nav-link ${itemList.index == 0 ? 'active' : ''}"
                id="${itemList.index}-tab" 
                data-bs-toggle="tab"
                data-bs-target="#${itemList.index}-sly" 
                type="button" 
                role="tab" 
            >
                <sly data-sly-test="${item.icon}">
                    <i class="icon ${item.icon}"></i>
                </sly>
                ${item.title}
                <sly data-sly-test="${item.isCloseable}">
                    <i data-tab-id="${itemList.index}-tab" class="close-icon pi pi-times"></i>
                </sly>
            </button>
        </li>
    </sly>
  </ul>
  <div class="tab-content" style="height: 90vh">
      <sly data-sly-list="${model.tabsList}">
          <div 
              class="tab-pane fade show ${itemList.index == 0 ? 'active': ''}" 
              id="${itemList.index}-sly"
              role="tabpanel" 
          >
            <sly data-sly-test="${item.render == 'html'}">
              ${item.html @ context='unsafe'}
            </sly>
            <sly data-sly-test="${!item.render}">
              <sly data-sly-test="${item.passParentQueryString}">
                  <iframe srchref="${item.url}" addquerystring="true" width="100%" height="100%"></iframe>
              </sly>
              <sly data-sly-test="${!item.passParentQueryString}">
                  <iframe src="${item.url}" width="100%" height="100%"></iframe>
              </sly>
            </sly>
          </div>
      </sly>
  </div>
</template>
