<template data-sly-template.image="${ @ imageSources, defaultImage }">

  <div class="hl-image" >
    <a href="#" class="hl-image__link">
      <picture class="hl-image__picture">
        <sly data-sly-list="${imageSources}">
          <source media="(min-width:${item.minWidth}px)" srcset="${item.image}" />
        </sly>
        <img class="hl-image__img" src="${defaultImage}" />
      </picture>
    </a>
  </div>
</template>

<template data-sly-template.variant="${ @ model }">
  <nav component="${model.componentName}" id="${model.id}" data-tree="${model.treeJSON}"
    data-model="${model.jsonString}" class="${model.variantClassNames}">
    <div class="sidebar-header p-2 mb-2 flex-${model.logoPosition}">
      <h3 id="${model.id}-title" class="text-wrap text-center">
      </h3>
      <div id="${model.id}-logo">
        <sly data-sly-call="${image @ imageSources=model.imageSources, defaultImage=model.defaultImage}"></sly>
      </div>
    </div>
    
    <div id="${model.id}-treeview">

    </div>
  </nav>
</template>