body {
    display: table;
    width: 100%;
    height: 100%;
}

.bg-dark {
    background-color: #4f4f4f !important;
}

.bg-secondary {
    background-color: #C7DEFA !important;
}

.bg-gray {
    background-color: #808080 !important;
}

.bg-ivory {
    background-color: #E2DED0 !important;
}

/* removed global row gutter to ensure all children components do not have padding added, this is replaced by individual components specifying their own padding. */
.row {
    --bs-gutter-x: 0px !important;
}