body {
    display: table;
    width: 100%;
    height: 100%;
}

.bg-dark {
    background-color: #4f4f4f !important;
}

.bg-secondary {
    background-color: #C7DEFA !important;
}

.row {
    --bs-gutter-x: 0px !important;
}