<sly data-sly-use.model="io.typerefinery.websight.models.components.Columnticker">
    <div data-sly-test="${resource.hasChildren}" class="${CSSclasses}">
        <ul>
            <sly data-sly-include="${'parsys.html' @ prependPath='/libs/wcm/foundation/components/parsys'}"></sly>
        </ul>
    </div>

    <sly data-sly-test="${!resource.hasChildren}">
      <sly data-sly-use.lib="/libs/wcm/foundation/components/commons/templates.html"
        data-sly-call="${lib.placeholder @ classes=CSSclasses}">
      </sly>
    </sly>
</sly>
  
