<!-- primary ticker -->
<script src="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/primary/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/primary/behaviour.js"></script>
<link  href="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/primary/styles/style.css" rel="stylesheet" type="text/css" />

<!-- Secondary ticker-->
<script src="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/secondary/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/secondary/behaviour.js"></script>
<link  href="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/secondary/styles/style.css" rel="stylesheet" type="text/css" />
<link  href="/apps/typerefinery/components/widgets/ticker/clientlibs/variants/secondary/styles/color.css" rel="stylesheet" type="text/css" />

