<template data-sly-template.ticker="${ @ model }">
  <!--/* TODO: update to use ${model.jsonString @ context='jsonString'} see: https://sling.apache.org/documentation/bundles/scripting/scripting-htl.html */-->
  <div
    id="${model.id}"
    data-path="${model.componentPath}"
    data-module="${model.module}"
    class="${model.classNames}"
    data-model="${model.jsonString}"
  >
    <div class="icon dn">${model.icon}</div>
    <div class="heading dn">${model.title}</div>
    <div class="value dn">${model.value}</div>
    <div class="indicator dn">
      <div class="indicator-type dn">${model.indicatorType}</div>
      <div class="indicator-value dn">${model.indicatorValue}</div>
    </div>
  </div>
</template>
