<script type="text/javascript" src="/apps/typerefinery/webroot/vendor/gridjs/gridjs.development.js"></script>
<link rel="stylesheet" type="text/css" href="/apps/typerefinery/webroot/vendor/gridjs/grid.min.css" />
<link rel="stylesheet" type="text/css" href="/apps/typerefinery/components/widgets/table/styles/styles.css" />
<script src="/apps/typerefinery/components/widgets/table/clientlibs/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/table/clientlibs/behaviour.js"></script>
