<script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/gridjs-jquery/dist/gridjs.development.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
<link rel="stylesheet" type="text/css" href="/apps/typerefinery/components/widgets/table/styles/styles.css" />
<script src="/apps/typerefinery/components/widgets/table/clientlibs/functions.js"></script>
<script src="/apps/typerefinery/components/widgets/table/clientlibs/behaviour.js"></script>