<template data-sly-template.dataTable="${ @ model }">
  <div 
    id="dataTable" 
    data-path="${resource.path}" 
    data-module="dataTableComponent" 
    class="dataTable"
  >
    <p-datatable 
      :value="dataTableDefaultValues" 
      data-module="vue-dataTable" 
      data-source="${model.dataSource}"
      striped-rows 
      responsive-layout="scroll" 
      scroll-height="700px"
      @click="onRowSelect"
    >
      <p-column 
        v-for="col of dataTableDefaultHeaders" 
        :field="col.field" 
        :header="col.header" 
        :key="col.field"
      >
      </p-column>
    </p-datatable>
  </div>
</template>