<template data-sly-template.datatable="${ @ model }"> 
    <div class="datable">
        <!-- <label for="${model.name}">${model.label}</label> -->
        <p-datatable
      :value="data"
      striped-rows
      responsive-layout="scroll"
      :scrollable="true"
      scroll-height="415px"
    >
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-datatable>
        
    </div>   
</template> 