<template data-sly-template.dataTable="${ @ model }">
  <div id="dataTable" data-path="${resource.path}" data-module="dataTableComponent" class="dataTable"
    @click="onRowSelect">
    <p-datatable :value="data" striped-rows responsive-layout="scroll" :scrollable="true" scroll-height="415px">
      <p-column field="icon">
        <template #body="slotProps">
          <i :class="slotProps.data.icon" style="font-size: 1.5rem" :readonly="true" :cancel="false"></i>
        </template>
      </p-column>
      <p-column field="datatype"></p-column>
      <p-column field="description"></p-column>
      <p-column field="status"></p-column>
      <p-column field="date"></p-column>
      <p-column>
        <template #body="slotProps">
          <span :class="'product-badge status-' + slotProps.data.color">{{slotProps.data.color}}</span>
        </template>
      </p-column>
    </p-datatable>
  </div>
</template>