<template data-sly-template.variant="${ @ model }">
  <sly data-sly-test.CSSclasses="flow-container ${model.classes @ join=' '}"></sly>
  <div data-sly-test="${resource.hasChildren}" class="${CSSclasses}"
    style="--bg-image-sm:${model.backgroundImageSm @ context='text'};--height-sm:auto;--bg-image-md: ${model.backgroundImageMd @ context='text'};--height-md:auto;--bg-image-lg:${model.backgroundImageLg @ context='text'};--height-lg:auto;">
    <sly data-sly-include="${'parsys.html' @ prependPath='/libs/wcm/foundation/components/parsys'}"></sly>
  </div>

  <sly data-sly-test="${!resource.hasChildren}">
    <sly data-sly-use.lib="/libs/wcm/foundation/components/commons/templates.html"
      data-sly-call="${lib.placeholder @ classes=CSSclasses}">
    </sly>
  </sly>
</template>
