<template data-sly-template.variant="${ @ model }">
  <div 
    component="treeview" 
    data-tree="${model.treeJSON}" 
    class="${model.variantClassNames}"
    id="${model.id}"
    data-model="${model.jsonString}"
    data-sly-test="${model.parentPagePath}"
  >
  </div>
  <sly data-sly-test="${!model.parentPagePath}" data-sly-use.lib="/apps/typerefinery/components/structure/templates/component-info.html"
    data-sly-set.componentPlaceholderTitle="${[model.componentTitle, ' - Set parent page path.'] @ join=''}"
    data-sly-call="${lib.placeholder @ title=componentPlaceholderTitle}"></sly>

</template>