.header {
  background: var(--header-bg-color) !important; 
  color: var(--header-text-color) !important; 
  margin-top: 0rem !important;
}

.hl-container.hl-grid {
  display: flex;
  align-self: flex-start;
}

h2.hl-title__heading.hl-title__heading--size-4 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.hl-header__wrapper {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.hl-container.hl-grid.hl-cols-12 {
  align-items: baseline;
  align-content: center;
  width: 100%;
  margin: auto;
}

section.hl-page-section.hl-grid.hl-cols-12 {
  padding-top: 0rem !important;
  width: 100%;
  padding-bottom: 0px;
  margin: 0px !important;
}

.hl-container.hl-grid.hl-cols-12 {
  align-items: baseline;
  align-content: center;
  width: 100%;
  margin: auto;
}

section.hl-page-section.hl-grid.hl-cols-12 {
  padding-top: 0rem !important;
}

.navbarLogo {
  margin-left: 20px;
}

.navbar {
  width: 100%;
  background: var(--card-bg-color);
  color: var(--primary-text-color) !important;
  margin-top: 0rem;
  border-radius: 0px;
  border-color: var(--card-bg-color);
}