

/* form/compoisite */
/* composite field add hint to field */
.fieldhint {
  top: 10px;
  z-index: 999;
  width: fit-content;
  right: 0px;
  display: inline-flex;
  display: none;
  align-self: end;
  position: relative;
  float:inline-end;
}

/* form/field */
/* hide field container with hidden input of type hidden */
field:has(> div > input[type=hidden]) {
  display: none;
}